
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title> Ví dụ Node.js </title>
    <%- include("./layout/head"); %>
</head>

<body>
    <%- include("./layout/header"); %>

    <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <H1> LOGIN - HTML - Node.js </H1>
            <form action="">
                <p>Tên tài khoản
                <input type="text" id="username" name="username">
                <p>Mật khẩu taì khoản
                <input type="password" value="Kiểm tra số"  name='password'>
                <input type="submit" value="Đăng nhập">
                <button type="button" class="btn btn-primary">Primary</button>
            </form> 
        </div>
    </main>

    <%- include("./layout/footer"); %>

</body>


</html> 
